<h1>Athletes</h1>

<% if @athletes %>
  <ul id="athlete">
    <% @athletes.each do |athlete| %>
      <li><%= link_to athlete.name, athletes_path(athlete)%></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Create Athlete', new_athlete_path %>
