<h1>Athletes</h1>

<% Athlete.all.each do |athlete| %>
  <athlete id="athlete">
    <li><%= link_to athlete.name, athlete_path(athlete)%></li>
  </athlete>
<% end %>

<%= link_to 'Create Athlete', new_athlete_path %>
