/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

//Navbar
.nav {
  background-color: #00948d;
  height: 10%;
  margin-bottom: 3%;
}

ul.nav a:hover {
  color: #fff !important;
}

ul.nav a {
  color: #fff !important;
}

//Controllers

.btn.ctrl {
  width: 210px;
}

// Athlete List

.section {
    margin: 15px;
}

.list-group-item {
  width: 215px;
}

.btn {
  width: 165px;
  margin: 5px;
}


@media (min-width: 767.98px){

  .section {
      text-align: center;
      margin: 15px;
  }

  .result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .insufficient-votes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  // Athlete List

  .athlete {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  //Controllers
  .controllers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
  }
}
