<!DOCTYPE html>
<html>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Athlete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Insufficient Votes</a>
  </li>
</ul>
  <head>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="text-center">
        <%= value  %>
      </div>
    <% end %>
  <%= yield %>
  </body>
</html>
