<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="text-center">
        <%= value  %>
      </div>
    <% end %>
  <%= yield %>
  </body>
</html>
